doctype html
html(lang="fr")
    head
        title
            | A3s-crud
        h1 A3S CRUD
        a(href='/newPage') Ajouter une page
        br
    body
        each page in data
            table
                tr
                    form(action='/delete?_id='+page._id method="POST")
                        td Id de la page : #{page.id} 
                        td Titre de la page: #{page.title}
                        td id: #{page._id}
                        td    
                            a(href='/modif?_id='+page._id) Modifier
                            a(href='/delete?_id='+page._id) Supprimer  
